[submodule "FTXUI"]
	path = FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "cava"]
	path = src/cava
	url = https://github.com/karlstav/cava.git
[submodule "src/cava"]
	path = src/cava
	url = https://github.com/karlstav/cava.git
[submodule "src/miniaudio"]
	path = src/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
